* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-image: url(images/delicious.jpg);
  background-size: cover;
}

view-area {
  width: 40%;
  background-color: #00594D;
  opacity: .8;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40rem;
  background-color: #FFCC33;
}

#logo {
  width: 20rem;
}